extends ./layout
block content
  article
    if topic
      h2=topic.title
      =topic.description
      div= '- by ' + topic.author
    else
      h3 Welcome
      | This is Server Side JavaScript
  if user
    ul
      li
        a(href='/topic/add') add
      if(topic)
        li
          a(href='/topic/'+topic.id+'/edit') edit
        li
          a(href='/topic/'+topic.id+'/delete') delete
